<a href="https://colab.research.google.com/github/naticanci/MS_thesis/blob/main/DISTRICTS_AND_TEMPERATURE_FROM_GRO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
!pip install geopandas
!pip install geojson
import geopandas as gpd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.22)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.5.post1)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (22.1.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.9.24)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.5)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geojson in /usr/local/lib/python3.7/dist-packages (2.5.0)

In [ ]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
df_places = gpd.read_file('/content/drive/MyDrive/MASTERS/Thesis topic/Data/countries.geojson')

In [ ]:
df_places.head(5)

         ADMIN ISO_A3                                           geometry
0        Aruba    ABW  POLYGON ((-69.99694 12.57758, -69.93639 12.531...
1  Afghanistan    AFG  POLYGON ((71.04980 38.40866, 71.05714 38.40903...
2       Angola    AGO  MULTIPOLYGON (((11.73752 -16.69258, 11.73851 -...
3     Anguilla    AIA  MULTIPOLYGON (((-63.03767 18.21296, -63.09952 ...
4      Albania    ALB  POLYGON ((19.74777 42.57890, 19.74601 42.57993...

In [ ]:
PATH = '/content/drive/MyDrive/MASTERS/Gro-DATA/'

In [ ]:
import fiona
fiona.supported_drivers

In [ ]:
df_places = gpd.read_file(PATH+"districtsdataframe.shp")
df_places

        district                                           geometry
0         100001  POLYGON ((70.91731 37.14584, 70.96329 37.12470...
1         100002  POLYGON ((70.99173 38.48968, 70.99430 38.44852...
2         100003  POLYGON ((70.76271 37.28587, 70.73604 37.25875...
3         100004  POLYGON ((71.63568 36.69001, 71.60624 36.67195...
4         100005  POLYGON ((70.99876 36.91148, 71.01936 36.88481...
...          ...                                                ...
42422  100022663  POLYGON ((130.76734 -12.44313, 130.76733 -12.4...
42423  100022664  POLYGON ((130.23929 -13.28196, 130.29053 -13.3...
42424  100022665  MULTIPOLYGON (((130.93047 -25.26525, 130.93048...
42425  100022666  POLYGON ((149.20070 -35.20541, 149.21379 -35.2...
42426  100022667  POLYGON ((150.70160 -35.12286, 150.71746 -35.1...

[42427 rows x 2 columns]

In [ ]:
df_temp = pd.read_csv(PATH+'MinMaxTempWorld.csv')
df_temp

          min_temp  region_id  year  month   max_temp
0       -45.364172     100001  2001      1 -13.625138
1       -43.769263     100001  2001      2  -8.317419
2       -34.295325     100001  2001      3  -3.882971
3       -26.257320     100001  2001      4  -1.461605
4       -31.416134     100001  2001      5  12.433801
...            ...        ...   ...    ...        ...
5599435   9.402307  100022667  2011      8  18.094934
5599436  12.036768  100022667  2011      9  20.862288
5599437  13.115869  100022667  2011     10  27.660364
5599438  13.192611  100022667  2011     11  31.560409
5599439  15.298608  100022667  2011     12  28.478906

[5599440 rows x 5 columns]